<br><h1>Listings</h1>
<br><br><%= link_to 'New Listing', new_listing_path %><br><br>
    <% @listings.each do |listing| %>
        Address: <%= listing.address %><br>
        Price: <%= listing.price %><br>
        Number of roommates: <%= listing.number_of_roomates %><br>
        Explain yourself: <%= listing.notes %><br>
        <%= link_to 'Show', listing %>
        <%= link_to 'Edit', edit_listing_path(listing) %>
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
        <%= listing.images.each do |image| %>
			<img src="<%=image.image.url %>" />
		<% end %>
<% end %>
	
<br>


