<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Number of roomates:</strong>
  <%= @listing.number_of_roomates %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @listing.notes %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
