<<<<<<< HEAD
<%= form_for(@image) do |f| %>
=======
<%= form_for @image, html: { multipart: true } do |f| %>
>>>>>>> 95c325823f36b95e1a8dd4fe24e72afcd5e42224
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
<<<<<<< HEAD
    <%= f.text_field :image %>
=======
    <%= f.file_field :image %>
>>>>>>> 95c325823f36b95e1a8dd4fe24e72afcd5e42224
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
